[app]
# If true, the api docs will be enabled
swagger_enabled = True
# Endpoint for swagger api docs
docs_url = /docs
# Endpoint for redoc api docs
redoc_url = /redocs
# Loglevel can be one of: debug, info, warning, error, critical
loglevel=debug
# Provider ID of this service
provider_id=dcc2217b-600e-4587-b74a-6b04bf3a882b
# Override authentication URA for testing, or False when using the URA from the MTLS certificate
override_authentication_ura=
# override_authentication_ura=12345678
# Authorization service to use: Either True to use external toestemming stub and pbac or False for a stub implementation
authorization_service = False


[database]
# Dsn for database connection
dsn=postgresql+psycopg://postgres:postgres@localhost:5432/postgres
# Retry backoff (in seconds) for database connection
retry_backoff=0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 4.8, 6.4, 10.0
# Connection pool size, use 0 for unlimited connections
pool_size=5
# Max overflow for connection pool
max_overflow=10
# Pre ping the connection before using it
pool_pre_ping=False
# Recycle the connection after this time (in seconds)
pool_recycle=1800

[pbac_api]
# Endpoint for the PBAC service
endpoint=http://pbac:8181
# Timeout for the PBAC service
timeout=10

[toestemming_stub_api]
# Endpoint for the toestemming stub
endpoint=http://toestemming-stub:8507
# Timeout for toestemming stub
timeout=10
# mTLS certs if any
# mtls_cert=secrets/ssl/pseudonym_api.cert
# mtls_key=secrets/ssl/pseudonym_api.key
# mtls_ca=secrets/ssl/pseudonym_api_ca.cert

[pseudonym_api]
endpoint=http://localhost:8504
timeout=10
# mtls_cert=secrets/ssl/pseudonym_api.cert
# mtls_key=secrets/ssl/pseudonym_api.key
# mtls_ca=secrets/ssl/pseudonym_api_ca.cert

[telemetry]
# Telemetry is enabled or not
enabled = True
# Endpoint to GRPC server for telemetry
endpoint = http://tracing:4317
# Service name to use
service_name = Nationale Verwijsindex
# Tracer name to use
tracer_name = zmodules.service.national_referral_index

[stats]
# Statsd is enabled or not
enabled = True
# Host for statsd server
host = 127.0.0.1
# Port for statsd server
port = 8125
# Module name for statsd
module_name = localisation

[uvicorn]
# Host for the uvicorn server
host = 0.0.0.0
# Port for the uvicorn server
port = 8501
# Live reload for uvicorn server
reload = True

# SSL configuration
use_ssl = False
ssl_base_dir = secrets/ssl
ssl_cert_file = server.cert
ssl_key_file = server.key
