[app]
# If true, the api docs will be enabled
swagger_enabled = True
# Endpoint for swagger api docs
docs_url = /docs
# Endpoint for redoc api docs
redoc_url = /redocs
# Loglevel can be one of: debug, info, warning, error, critical
loglevel=debug
# Provider ID of this service
provider_id=dcc2217b-600e-4587-b74a-6b04bf3a882b

[dezi_register]
# The Viewer sends the Dezi JWT or a Mock JWT of the authenticated user to the LRS.
# The LRS wraps this JWT in another JWT and sends it to the NVI.
# The WRAP JWT is signed with the UZI Server certificate of the relevant healthcare organization.
# This WRAP JWT can be validated by the NVI using the Uzi Server CA.

# This config has the path to the Uzi Server CA certificate for NVI JWT validation
uzi_server_certificate_ca_cert_path=

# The Dezi JWT (Inside the wrapped JWT), needs to be signed with a Dezi Register certificate.

# This config set the directory of trusted signing certificates for JWT validation of the DEZI register for Healthcare professional identities.
# For mock implementation the signing certificates of the Viewer needs to be placed here.
dezi_register_trusted_signing_certs_store_path=


[database]
# Dsn for database connection
dsn=postgresql+psycopg://postgres:postgres@postgres:5432/postgres
# Retry backoff (in seconds) for database connection
retry_backoff=0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 4.8, 6.4, 10.0
# Connection pool size, use 0 for unlimited connections
pool_size=5
# Max overflow for connection pool
max_overflow=10
# Pre ping the connection before using it
pool_pre_ping=False
# Recycle the connection after this time (in seconds)
pool_recycle=1800

[pseudonym_api]
endpoint=http://localhost:8504
timeout=10
# mtls_cert=secrets/ssl/pseudonym_api.cert
# mtls_key=secrets/ssl/pseudonym_api.key
# verify_ca=secrets/ssl/pseudonym_api_ca.cert

[telemetry]
# Telemetry is enabled or not
enabled = True
# Endpoint to GRPC server for telemetry
endpoint = http://tracing:4317
# Service name to use
service_name = Nationale Verwijsindex
# Tracer name to use
tracer_name = zmodules.service.national_referral_index

[stats]
# Statsd is enabled or not
enabled = True
# Host for statsd server
host = 127.0.0.1
# Port for statsd server
port = 8125
# Module name for statsd
module_name = localisation

[uvicorn]
# Host for the uvicorn server
host = 0.0.0.0
# Port for the uvicorn server
port = 8501
# Live reload for uvicorn server
reload = True

# SSL configuration
use_ssl = False
ssl_base_dir = secrets/ssl
ssl_cert_file = server.cert
ssl_key_file = server.key

[oauth]
# OAuth is enabled or not
enabled = True
# Certificate Authority for OAuth server
ca_cert = secrets/uzi-server-ca.crt
# Token lifetime in seconds
token_lifetime_seconds = 3600


[oauth]
# OAuth is enabled or not
enabled = True
# If OAuth is disabled, we MUST set the override_authentication_ura to a valid URA for testing
override_authentication_ura = 87654321
# Lifetime of a oauth token in seconds
token_lifetime_seconds = 3600
# The CA cert that is allowed to sign JWTs for exchanging with OAuth. This is normally the UZI server CA. Meaning
# that all uzi-server certificates can generate a valid JWT for OAuth exchange.
ca_cert = secrets/uzi-server-ca.crt

# When using MTLS towards the OAuth server, certificates signed by this CA MUST use a JWT for OAuth token exchange.
ldn_ca_cert = secrets/ldn-chain.crt
# When using MTLS towards the OAuth server, certificates signed by this CA do not need a JWT for token exchange. The
URA number will be directly extracted from the MTLS certificate.
uzi_ca_cert = secrets/uzi-server-ca.crt
